<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iTest copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iTestDebug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>204F3AD11FEB56CD004D392A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>204F3AE51FEB56CD004D392A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>204F3AF01FEB56CD004D392A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>204F3B061FEB5B15004D392A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>204F3B191FEB5B16004D392A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>204F3B241FEB5B16004D392A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20D910261FEBC3B200D90EC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
